:root {
  --matte-black: #161925;
  --persian-red: #bb4430;
  --imperial-red: #ED2939;
  --moonstone: #0fa3b1;
  --platinum: #eae6e5;
  --columbia-blue: #a7c6da;
  --polynesian-blue: #004385;

}

@font-face {
  font-family: 'Seagram';
  src: url('/fonts/Seagram.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0);}
  to {opacity: 1; transform: scale(1);}
}

@keyframes burst {
  0% {visibility: visible;}
  80% {opacity: 1;transform: scale(20);}
  to { opacity: 0; filter: brightness(200%)}
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

.title-wrap {
  margin-top: 150px;
  position: relative;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    border-radius: 50%;
    background: radial-gradient(circle at center, var(--columbia-blue) 20%, var(--moonstone) 75%, var(--polynesian-blue) 5%);
    box-shadow: 0 0 40px var(--columbia-blue);
    visibility: hidden;
    animation: burst  2s ease;
  }
}

h1 {
  text-align: center;
  font-size: 52px;
  color: var(--imperial-red);
  letter-spacing: 2.3px;
  
  &.main-title {
    font-family: 'Seagram';
    text-shadow: 1px 1px 2px var(--columbia-blue);
    z-index: 10;
    opacity: 1;
    animation: fadeIn 2s ease;
  }
  
  &.selected-quest {
    font-size: 24px;
    text-shadow: 1px 1px 2px var(--platinum);
  }
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  background: var(--matte-black);
  box-shadow: 0px 0px 10px 1px var(--platinum);
  border: solid var(--moonstone) 2px;
  border-radius: 5px;
  color: var(--moonstone);
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
}

.fake-phone {
  padding: 20px 10px;
  height: 553px;
  width: 268px;
  border: solid #fff 1px;
  border-radius: 20px;
  background: var(--matte-black);
  margin: 50px;
  overflow: hidden;
}

.controls {
  background-image: url('images/castle-door.jpg');
  background-position: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lists-outer {
  margin-top: 10px;
  padding-top: 30px;
  overflow: hidden scroll;
  scrollbar-width: none;
  height:calc(100% - 200px);
}

.list-box {
  border-width: 4px 0;
  border-style: solid;
  border-image: 
    radial-gradient(
      circle at center, 
      var(--imperial-red), 
      rgba(0, 0, 0, 0)
    ) 1 8%;
  font-family: 'Montserrat';
  position: relative;
  margin-bottom: 50px;
  height: 0;
  transition: all .5s ease;

    &.open {
      min-height: 50px;
      max-height: fit-content;
    }


    h3 {
      position: absolute;
      top: -35px;
      left: 20px;
      color: var(--moonstone);
      max-width: fit-content;
      background: var(--matte-black);
    }

    .drop-list {
      display: none;

      &.open {
        display: block;
      }
    }

    li {
      color: var(--platinum);
      list-style: none;
    }
}
